.slide{
    width: 100%;
    height: 30%;
    margin-top: 5%;
    background-image: url(../img/back.png);
    background-size: cover;
}
.all{
    background-image: url(../img/back.png);
    background-size: cover;

}
.head .saoyisao{
    width: 15%;
    height: 100%;
    float: left;
}
.head .search{
    width: 60%;
    height: 100%;
    margin-left: 5%;
    margin-right: 5%;
    float: left;
    border-bottom-style: solid;
    border-bottom-color: #6e4e35;
    border-width: 4px;
}
.head .search input{
    width:75%;
    margin-top: 2%;
    height: 80%;
    float: right;
    background-color:#f0f0f0 ;
}
.head .place{
    width: 15%;
    height: 100%;
    float: left;
}
.menus2{
    width: 100%;
    height: 19%;
    background-image: url(../img/yuan.jpg);
    background-size: cover;
}
.menus2 .term{
    width: 25%;
    height: 100%;
    float: left;

}
.content .other_content{
    width: 100%;
    height: 190%;
    background-image: url(../img/content.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position:center;
}
.content .content_end{
    width: 100%;

}